profile = default
version = 0.20.1

type-decl=sparse
break-separators=after
space-around-lists=false
dock-collection-brackets=true
field-space=loose
indicate-multiline-delimiters=no
cases-exp-indent=2
leading-nested-match-parens=true
sequence-style=terminator
exp-grouping=preserve
doc-comments=before
